<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>couchbot - Store Selection</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    
    <main class="store-selector-container">
        <label for="store-selector">Select Store:</label>
        <select id="store-selector">
            <option value="" disabled selected>-</option>
            <option value="pending" disabled>Brain Dead (Not Available)</option>
            <option value="/supreme">Supreme</option>
        </select>
        <button id="start-button" type="button">Start</button>
    </main>

    <script src="/static/js/index.js"></script>
</body>
</html>