<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>couchbot</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <a href="/sign-up" class="sign-up-link">Sign Up</a>
    <main class="login-container">
        <h1 class="bot-name">couchbot.</h1>
        
        <form class="login-form-card">
            <div class="login-form">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <button type="submit" id="login-button">Log In</button>   
        </form>
        
    </main>
    <script src="/static/js/login.js"></script>

</body>
</html>