<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>couchbot - Supreme</title>
    <link rel="stylesheet" href="/static/css/supreme.css">
</head>
<body>
    <a href="/index" class="store-selector-link">Store Selector</a>
    
    <form class="select-item-form" id="item-form">
        <h1>Item Information</h1>

        <label for="type">Type:</label>
        <select id="type-selector">
            <option value="" disabled selected>-</option>
            <option value="jackets">jackets</option>
            <option value="shirts">shirts</option>
            <option value="tops">tops/sweaters</option>
            <option value="sweatshirts">sweatshirts</option>
            <option value="pants">pants</option>
            <option value="shorts">shorts</option>
            <option value="hats">hats</option>
            <option value="bags">bags</option>
            <option value="accessories">accessories</option>
            <option value="shoes">shoes</option>
            <option value="skate">skate</option>
        </select>


        <label for="item-name">Item Name:</label>
        <input type="text" id="item-name" name="item-name" required>

        <label for="item-color">Color:</label>
        <input type="text" id="item-color" name="item-color" required>

        <label for="size">Size:</label>
        <select id="size-selector">
            <option value="" disabled selected>-</option>
            <option value="xxsmall">XXSmall</option>
            <option value="xsmall">XSmall</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="xlarge">XLarge</option>
            <option value="xxlarge">XXLarge</option>
        </select>

        <button id="next-to-checkout" type="button">Next</button>
    </form>

    <form class="customer-checkout-form" id="checkout-form">
        <h1>Checkout Information</h1>

        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" required>

        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name" required>

        <label for="shipping-address">Shipping Address:</label>
        <input type="text" id="shipping-address" name="shipping-address" required>

        <label for="shipping-address-apartment">Apt:</label>
        <input type="text" id="shipping-address-apartment" name="shipping-address-apartment">

        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>
        
        <label for="zip">Zip:</label>
        <input type="text" id="zip" name="zip" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"required>

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone"required>

        <div class="button-container">
            <button id="back-to-item" type="button">Back</button>
            <button id="next-to-card" type="button">Next</button>
        </div>
    </form>

    <form class="card-information-form" id="card-form">
        <h1>Card Information</h1>
        <p>Billing address must be the same as shipping address</p>

        <label for="billing-name">Name on Card:</label>
        <input type="text" id="billing-first-name" name="billing-first-name" required>

        <label for="card-number">Card Number:</label>
        <input type="tel" id="card-number" name="card-number" required>

        <label for="card-expiration">Card Expiration:</label>
        <input type="text" id="card-expiration" name="card-expiration" required>

        <label for="card-security">Security Code:</label>
        <input type="text" id="card-security" name="card-security" required>

        <div class="button-container">
            <button id="back-to-checkout" type="button">Back</button>
            <button id="submit-button" type="button">Submit</button>
        </div>
    </form>

    <script src="/static/js/supreme.js"></script>
</body>
</html>