body {
    display: grid;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #000000, #a16abd);
    place-content: center;
}

.sign-up-form {
    display: grid;
    align-items: center;
    row-gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    padding: 150px 45px; /* 150px top/bottom 45px left/right */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    outline: .5px solid rgba(255, 179, 218, .2);
}

.sign-up-form #register-button {
    position: absolute;
    justify-self: center;
    margin-top: 350px;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sign-up-fields {
    display: grid;
    align-items: center;
    row-gap: 1px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sign-up-fields input {
    border-radius: 3px;
    border: none;
    padding: 2px;
}

.back-link {
    position: absolute;
    top: 24px;
    right: 48px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

