body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #000000, #a16abd);
}

.select-item-form h1 {
    grid-column: 1 / -1;
}

.select-item-form {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgba(255, 255, 255, 0.1);
    width: 330px;
    padding: 150px 45px; /* 150px top/bottom 45px left/right */
    border-radius: 10px;
    column-gap: 12px;
    row-gap: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    outline: .5px solid rgba(255, 179, 218, .2);
}

.select-item-form input {
    border-radius: 3px;
    border: none;
}

.select-item-form #next-to-checkout {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 0px 50px;
}

.customer-checkout-form h1 {
    grid-column: 1 / -1;
}

.customer-checkout-form {
    display: none;
    grid-template-columns: auto 1fr;
    background-color: rgba(255, 255, 255, 0.1);
    width: 330px;
    padding: 150px 45px; /* 150px top/bottom 45px left/right */
    border-radius: 10px;
    column-gap: 12px;
    row-gap: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    outline: .5px solid rgba(255, 179, 218, .2);
}

.customer-checkout-form input {
    border-radius: 3px;
    border: none;
}

.card-information-form h1 {
    grid-column: 1 / -1;
}

.card-information-form p {
    grid-column: 1 / -1;
    font-weight: bold;
}

.card-information-form {
    display: none;
    grid-template-columns: auto 1fr;
    background-color: rgba(255, 255, 255, 0.1);
    width: 390px;
    padding: 150px 45px; /* 150px top/bottom 45px left/right */
    border-radius: 10px;
    column-gap: 12px;
    row-gap: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    outline: .5px solid rgba(255, 179, 218, .2);
}

.card-information-form input {
    border-radius: 3px;
    border: none;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    column-gap: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.store-selector-link {
    position: absolute;
    top: 24px;
    right: 48px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}